body{
    font-size: larger;
    background: linear-gradient(to right, rgb(48, 2, 235), rgb(13, 5, 12));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.cadastro-container{
    background: linear-gradient(to bottom, #0547ba,  #dadfe6);
    padding: 30px;
    border-radius: 40px;
    text-align: center;
    width: 300px;
}

.cadastro-container input{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
}

.cadastro-container button{
    width: 30%;
    padding: 2px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro-container button:hover {
  background-color: #6c85e8;
}
#buttonAndRegister{
    padding: 0px;

}